$gray: #686869;

@mixin sans-light {
	font-family: "calluna-sans",sans-serif;
	font-weight: 300;
}

@mixin small {
	font-size: 13px;
	line-height: 19.5px;
	font-weight: 400;
}

.nivo-caption {
	position: absolute;
	//top: 420px;
	bottom: 0;
	left: 0;
	width: 550px; //470px;
	height: auto;
	overflow: visible;
	background: none !important;


	color: $gray;
	@include sans-light;
	@include small;

	p {
		font-size: 13px;
		padding: 0;
		margin: 0;
	}

}

.nivo-controlNav {
	position: absolute;
	bottom: 0px;
	//top: 420px;
	right: 0;
	width: 150px;
	padding: 5px 0;
	@include small;

	a {
		display: inline-block;
		padding: 0 15px;
		font-size: 16px;
		color: $gray;
		@include sans-light;
		@include small;
	}

	.nivo-prevNav {
		//float: left;
		//margin-left: 370px;
	}

	.nivo-nextNav {
		//float: right;
	}
}

.slider-wrapper {
	padding-bottom: 40px;
}

#slider {
	cursor: pointer;
}


///////////////////////////////////////////////

// Media Querie Exceptions

///////////////////////////////////////////////

@media only screen and (max-width: 767px) {

	.nivo-caption {
		position: relative;
		width: 100%;
		top: 0;
		text-align: center;
	}

	.nivo-controlNav {
		position: relative;
		top: 0;
		width: 100%;
		text-align: center;
	}


}