/*
Syntax error: File to import not found or unreadable: foundation/common/ratios.
              Load paths:
                /Users/mwilson/Documents/Repo/lisamoses
                /Users/mwilson/Documents/Repo/lisamoses/assets/sass
        on line 1 of assets/sass/_settings.scss
        from line 2 of assets/sass/app.scss

1: // Your custom settings file to override Foundation defaults
2: @import "settings";
3: 
4: // Comment out this import if you are customizing you imports below
5: @import "foundation";
6: 

Backtrace:
assets/sass/_settings.scss:1
assets/sass/app.scss:2
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/plugin.rb:107:in `method_missing'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/exec.rb:444:in `watch_or_update'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/exec.rb:307:in `process_result'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/exec.rb:41:in `parse'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/lib/sass/exec.rb:21:in `parse!'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/gems/sass-3.2.5/bin/sass:8:in `<top (required)>'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/bin/sass:19:in `load'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/bin/sass:19:in `<main>'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `eval'
/Users/mwilson/.rvm/gems/ruby-1.9.3-p327/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: foundation/common/ratios.\A               Load paths:\A                 /Users/mwilson/Documents/Repo/lisamoses\A                 /Users/mwilson/Documents/Repo/lisamoses/assets/sass\A         on line 1 of assets/sass/_settings.scss\A         from line 2 of assets/sass/app.scss\A \A 1: // Your custom settings file to override Foundation defaults\A 2: @import \"settings\";\A 3: \A 4: // Comment out this import if you are customizing you imports below\A 5: @import \"foundation\";\A 6: "; }
