html, body {
  height: 100%; }

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #808081; }

h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: .3em;
  color: #808081;
  margin-top: 40px; }
  h1 span {
    color: #cc9f33; }

h2 {
  font-family: "prenton", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: .2em;
  color: #808081;
  margin-top: 0; }

hr {
  height: 2px;
  width: 100%;
  margin: 40px 0 50px;
  background: url("../images/dotted.gif") repeat-x;
  border: none; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .05em; }

.about a, .contact a {
  color: #cc9f33; }
.about h2, .about h3, .contact h2, .contact h3 {
  color: #cc9f33;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  letter-spacing: .05em;
  font-size: 20px; }
.about h3, .contact h3 {
  text-transform: none;
  font-size: 16px;
  margin-top: 0; }
.about p, .contact p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  line-height: 2em; }

.contact h2, .contact h3 {
  color: #808081; }

.capsule {
  margin-bottom: 35px; }
  .capsule a {
    height: 100%;
    width: 100%; }
  .capsule img {
    display: block;
    height: 135px;
    width: 330px;
    background: #ccc; }
  .capsule label {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 15px 0;
    letter-spacing: .05em; }

.clearfooter {
  height: 75px;
  clear: both; }

.intro {
  margin-bottom: 35px; }
  .intro p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 2.2em;
    letter-spacing: .05em; }

.nav-bar, .nav-bar.categories {
  background: none !important; }
  .nav-bar li, .nav-bar li:last-child, .nav-bar li:first-child, .nav-bar.categories li, .nav-bar.categories li:last-child, .nav-bar.categories li:first-child {
    border: 0;
    box-shadow: none !important; }
    .nav-bar li:hover, .nav-bar li:last-child:hover, .nav-bar li:first-child:hover, .nav-bar.categories li:hover, .nav-bar.categories li:last-child:hover, .nav-bar.categories li:first-child:hover {
      background: none; }
    .nav-bar li.active, .nav-bar li:last-child.active, .nav-bar li:first-child.active, .nav-bar.categories li.active, .nav-bar.categories li:last-child.active, .nav-bar.categories li:first-child.active {
      background: none; }
      .nav-bar li.active a, .nav-bar li:last-child.active a, .nav-bar li:first-child.active a, .nav-bar.categories li.active a, .nav-bar.categories li:last-child.active a, .nav-bar.categories li:first-child.active a {
        color: #808081 !important; }
        .nav-bar li.active a:hover, .nav-bar li:last-child.active a:hover, .nav-bar li:first-child.active a:hover, .nav-bar.categories li.active a:hover, .nav-bar.categories li:last-child.active a:hover, .nav-bar.categories li:first-child.active a:hover {
          background: none !important; }
    .nav-bar li a, .nav-bar li a:first-child, .nav-bar li a:last-child, .nav-bar li:last-child a, .nav-bar li:last-child a:first-child, .nav-bar li:last-child a:last-child, .nav-bar li:first-child a, .nav-bar li:first-child a:first-child, .nav-bar li:first-child a:last-child, .nav-bar.categories li a, .nav-bar.categories li a:first-child, .nav-bar.categories li a:last-child, .nav-bar.categories li:last-child a, .nav-bar.categories li:last-child a:first-child, .nav-bar.categories li:last-child a:last-child, .nav-bar.categories li:first-child a, .nav-bar.categories li:first-child a:first-child, .nav-bar.categories li:first-child a:last-child {
      color: white;
      border: 0;
      font-size: 18px; }
      .nav-bar li a:hover, .nav-bar li a:first-child:hover, .nav-bar li a:last-child:hover, .nav-bar li:last-child a:hover, .nav-bar li:last-child a:first-child:hover, .nav-bar li:last-child a:last-child:hover, .nav-bar li:first-child a:hover, .nav-bar li:first-child a:first-child:hover, .nav-bar li:first-child a:last-child:hover, .nav-bar.categories li a:hover, .nav-bar.categories li a:first-child:hover, .nav-bar.categories li a:last-child:hover, .nav-bar.categories li:last-child a:hover, .nav-bar.categories li:last-child a:first-child:hover, .nav-bar.categories li:last-child a:last-child:hover, .nav-bar.categories li:first-child a:hover, .nav-bar.categories li:first-child a:first-child:hover, .nav-bar.categories li:first-child a:last-child:hover {
        background-color: none !important; }

.nav-bar.categories {
  margin-bottom: 60px; }
  .nav-bar.categories li.active, .nav-bar.categories li:last-child.active, .nav-bar.categories li:first-child.active {
    background: none; }
    .nav-bar.categories li.active a, .nav-bar.categories li:last-child.active a, .nav-bar.categories li:first-child.active a {
      color: #808081 !important; }
      .nav-bar.categories li.active a:hover, .nav-bar.categories li:last-child.active a:hover, .nav-bar.categories li:first-child.active a:hover {
        background: none !important; }
  .nav-bar.categories li a, .nav-bar.categories li a:first-child, .nav-bar.categories li a:last-child, .nav-bar.categories li:last-child a, .nav-bar.categories li:last-child a:first-child, .nav-bar.categories li:last-child a:last-child, .nav-bar.categories li:first-child a, .nav-bar.categories li:first-child a:first-child, .nav-bar.categories li:first-child a:last-child {
    color: #808081;
    border: 0;
    font-size: 18px;
    padding-right: 5px; }
    .nav-bar.categories li a:hover, .nav-bar.categories li a:first-child:hover, .nav-bar.categories li a:last-child:hover, .nav-bar.categories li:last-child a:hover, .nav-bar.categories li:last-child a:first-child:hover, .nav-bar.categories li:last-child a:last-child:hover, .nav-bar.categories li:first-child a:hover, .nav-bar.categories li:first-child a:first-child:hover, .nav-bar.categories li:first-child a:last-child:hover {
      background-color: none !important; }

.project {
  display: block;
  width: 100%;
  height: auto;
  min-height: 400px;
  background: #808081; }

.project-nav {
  margin: 0;
  margin-top: 20px;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  text-transform: uppercase; }
  .project-nav li a, .project-nav li a:first-child, .project-nav li a:last-child, .project-nav li:last-child a, .project-nav li:last-child a:first-child, .project-nav li:last-child a:last-child, .project-nav li:first-child a, .project-nav li:first-child a:first-child, .project-nav li:first-child a:last-child {
    font-size: 16px !important;
    letter-spacing: .07em; }

.title h2 {
  text-transform: uppercase; }

#container {
  position: relative;
  min-height: 100%;
  margin-bottom: -75px;
  padding-bottom: 10px; }

#footer {
  position: relative;
  width: 100%;
  height: 75px;
  background: #cc9f33; }
  #footer .row .columns.dotted {
    background: url("../images/dotted-vertical.png") top left repeat-y;
    height: 75px; }
    #footer .row .columns.dotted.center {
      text-align: center; }
  #footer .row a {
    margin: 0;
    margin-top: 20px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .07em;
    color: white;
    line-height: 75px; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 85px;
  background: #cc9f33; }

#image-nav {
  position: absolute;
  right: -10px;
  bottom: -35px;
  width: auto;
  height: 20px;
  text-align: right;
  line-height: 20px; }
  #image-nav a {
    display: inline-block;
    padding: 0 25px;
    font-size: 30px;
    color: #808081;
    font-family: "prenton", sans-serif;
    font-weight: 300; }
  #image-nav span {
    position: relative;
    display: inline-block;
    top: -5px; }
