/* line 56, ../sass/custom.scss */
html, body {
  height: 100%;
}

/* line 60, ../sass/custom.scss */
body {
  font-family: "calluna-sans",sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #808081;
}

/* line 66, ../sass/custom.scss */
h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: .251em;
  word-spacing: 0.059em;
  color: #808081;
  margin-top: 40px;
}
/* line 74, ../sass/custom.scss */
h1 span {
  color: #cc9f33;
}
/* line 78, ../sass/custom.scss */
h1 a {
  color: #808081;
}
/* line 81, ../sass/custom.scss */
h1 a:hover {
  color: #cc9f33;
}

/* line 87, ../sass/custom.scss */
h2 {
  font-family: "calluna-sans",sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: .2em;
  color: #808081;
  margin-top: 0;
}

/* line 95, ../sass/custom.scss */
hr {
  height: 2px;
  width: 100%;
  margin: 20px 0 30px;
  background: url("../images/dotted.gif") repeat-x;
  border: none;
}

/* line 103, ../sass/custom.scss */
p {
  font-family: "calluna-sans",sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .05em;
}

/* line 117, ../sass/custom.scss */
.about a, .contact a, .title a {
  color: #cc9f33;
}
/* line 121, ../sass/custom.scss */
.about h2, .about h3, .contact h2, .contact h3, .title h2, .title h3 {
  color: #808081;
  text-transform: capitalize;
  font-family: "calluna-sans",sans-serif;
  font-weight: 500;
  letter-spacing: .05em;
  font-size: 20px;
}
/* line 129, ../sass/custom.scss */
.about h2, .contact h2, .title h2 {
  color: #9a9a9c;
  line-height: 1.3em;
  letter-spacing: .08em;
}
/* line 136, ../sass/custom.scss */
.about h3, .contact h3, .title h3 {
  text-transform: none;
  font-size: 16px;
  margin-top: 0;
}
/* line 142, ../sass/custom.scss */
.about p, .contact p, .title p {
  font-family: "calluna-sans",sans-serif;
  font-weight: 300;
  line-height: 1.6em;
}

/* line 151, ../sass/custom.scss */
.about p {
  font-size: 14px;
  line-height: 1.6em;
  margin-bottom: 12px;
}
/* line 157, ../sass/custom.scss */
.about h3 {
  text-transform: capitalize;
}
/* line 161, ../sass/custom.scss */
.about h3.cv {
  margin-top: 60px;
}
/* line 165, ../sass/custom.scss */
.about h3.statement {
  margin-top: 5px;
}

/* line 171, ../sass/custom.scss */
.block-grid.four-up > li {
  padding-bottom: 0;
}

/* line 181, ../sass/custom.scss */
.capsule {
  margin-bottom: 35px;
}
/* line 185, ../sass/custom.scss */
.capsule a {
  height: 100%;
  width: 100%;
}
/* line 190, ../sass/custom.scss */
.capsule a img {
  display: block;
  height: auto;
  max-height: 135px;
  width: 100%;
  max-width: 330px;
  padding-left: 15px;
}
/* line 199, ../sass/custom.scss */
.capsule a label {
  font-family: "calluna-sans",sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 15px 0;
  letter-spacing: .05em;
  padding-left: 15px;
}

/* line 209, ../sass/custom.scss */
.clearfooter {
  height: 75px;
  clear: both;
}

/* line 214, ../sass/custom.scss */
.headline {
  position: absolute;
  top: 40px;
  left: 191px;
  letter-spacing: 0.45em;
  color: #cc9f33;
  text-shadow: 0 0 1px white;
}

/* line 223, ../sass/custom.scss */
.image_holder {
  display: block;
  width: 670px;
  height: 400px;
}

/* line 231, ../sass/custom.scss */
.intro, .about, .contact {
  margin-bottom: 0;
}
/* line 235, ../sass/custom.scss */
.intro p, .about p, .contact p {
  font-family: "calluna-sans",sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8em;
  letter-spacing: .05em;
}

/* line 243, ../sass/custom.scss */
.nav-bar, .nav-bar.categories {
  background: none !important;
}
/* line 248, ../sass/custom.scss */
.nav-bar li, .nav-bar li:last-child, .nav-bar li:first-child, .nav-bar.categories li, .nav-bar.categories li:last-child, .nav-bar.categories li:first-child {
  border: 0;
  box-shadow: none !important;
}
/* line 252, ../sass/custom.scss */
.nav-bar li:hover, .nav-bar li:last-child:hover, .nav-bar li:first-child:hover, .nav-bar.categories li:hover, .nav-bar.categories li:last-child:hover, .nav-bar.categories li:first-child:hover {
  background: none;
}
/* line 256, ../sass/custom.scss */
.nav-bar li.active, .nav-bar li:last-child.active, .nav-bar li:first-child.active, .nav-bar.categories li.active, .nav-bar.categories li:last-child.active, .nav-bar.categories li:first-child.active {
  background: none;
}
/* line 259, ../sass/custom.scss */
.nav-bar li.active a, .nav-bar li:last-child.active a, .nav-bar li:first-child.active a, .nav-bar.categories li.active a, .nav-bar.categories li:last-child.active a, .nav-bar.categories li:first-child.active a {
  color: #808081 !important;
}
/* line 262, ../sass/custom.scss */
.nav-bar li.active a:hover, .nav-bar li:last-child.active a:hover, .nav-bar li:first-child.active a:hover, .nav-bar.categories li.active a:hover, .nav-bar.categories li:last-child.active a:hover, .nav-bar.categories li:first-child.active a:hover {
  background: none !important;
}
/* line 268, ../sass/custom.scss */
.nav-bar li a, .nav-bar li a:first-child, .nav-bar li a:last-child, .nav-bar li:last-child a, .nav-bar li:last-child a:first-child, .nav-bar li:last-child a:last-child, .nav-bar li:first-child a, .nav-bar li:first-child a:first-child, .nav-bar li:first-child a:last-child, .nav-bar.categories li a, .nav-bar.categories li a:first-child, .nav-bar.categories li a:last-child, .nav-bar.categories li:last-child a, .nav-bar.categories li:last-child a:first-child, .nav-bar.categories li:last-child a:last-child, .nav-bar.categories li:first-child a, .nav-bar.categories li:first-child a:first-child, .nav-bar.categories li:first-child a:last-child {
  color: white;
  border: 0;
  font-size: 16px;
  padding-left: 15px;
}
/* line 274, ../sass/custom.scss */
.nav-bar li a:hover, .nav-bar li a:first-child:hover, .nav-bar li a:last-child:hover, .nav-bar li:last-child a:hover, .nav-bar li:last-child a:first-child:hover, .nav-bar li:last-child a:last-child:hover, .nav-bar li:first-child a:hover, .nav-bar li:first-child a:first-child:hover, .nav-bar li:first-child a:last-child:hover, .nav-bar.categories li a:hover, .nav-bar.categories li a:first-child:hover, .nav-bar.categories li a:last-child:hover, .nav-bar.categories li:last-child a:hover, .nav-bar.categories li:last-child a:first-child:hover, .nav-bar.categories li:last-child a:last-child:hover, .nav-bar.categories li:first-child a:hover, .nav-bar.categories li:first-child a:first-child:hover, .nav-bar.categories li:first-child a:last-child:hover {
  background-color: none !important;
}
/* line 278, ../sass/custom.scss */
.nav-bar li a.active, .nav-bar li a:first-child.active, .nav-bar li a:last-child.active, .nav-bar li:last-child a.active, .nav-bar li:last-child a:first-child.active, .nav-bar li:last-child a:last-child.active, .nav-bar li:first-child a.active, .nav-bar li:first-child a:first-child.active, .nav-bar li:first-child a:last-child.active, .nav-bar.categories li a.active, .nav-bar.categories li a:first-child.active, .nav-bar.categories li a:last-child.active, .nav-bar.categories li:last-child a.active, .nav-bar.categories li:last-child a:first-child.active, .nav-bar.categories li:last-child a:last-child.active, .nav-bar.categories li:first-child a.active, .nav-bar.categories li:first-child a:first-child.active, .nav-bar.categories li:first-child a:last-child.active {
  color: #808081;
}

/* line 285, ../sass/custom.scss */
.nav-bar {
  margin-top: 5px;
}

/* line 289, ../sass/custom.scss */
.nav-bar.categories {
  margin-bottom: 40px;
}
/* line 293, ../sass/custom.scss */
.nav-bar.categories li, .nav-bar.categories li:last-child, .nav-bar.categories li:first-child {
  font-size: 15px;
}
/* line 296, ../sass/custom.scss */
.nav-bar.categories li.active, .nav-bar.categories li:last-child.active, .nav-bar.categories li:first-child.active {
  background: none;
}
/* line 299, ../sass/custom.scss */
.nav-bar.categories li.active a, .nav-bar.categories li:last-child.active a, .nav-bar.categories li:first-child.active a {
  color: #808081 !important;
}
/* line 302, ../sass/custom.scss */
.nav-bar.categories li.active a:hover, .nav-bar.categories li:last-child.active a:hover, .nav-bar.categories li:first-child.active a:hover {
  background: none !important;
}
/* line 308, ../sass/custom.scss */
.nav-bar.categories li a, .nav-bar.categories li a:first-child, .nav-bar.categories li a:last-child, .nav-bar.categories li:last-child a, .nav-bar.categories li:last-child a:first-child, .nav-bar.categories li:last-child a:last-child, .nav-bar.categories li:first-child a, .nav-bar.categories li:first-child a:first-child, .nav-bar.categories li:first-child a:last-child {
  color: #808081;
  border: 0;
  font-size: 16px;
  padding-right: 5px;
  padding-left: 15px;
}
/* line 315, ../sass/custom.scss */
.nav-bar.categories li a:hover, .nav-bar.categories li a:first-child:hover, .nav-bar.categories li a:last-child:hover, .nav-bar.categories li:last-child a:hover, .nav-bar.categories li:last-child a:first-child:hover, .nav-bar.categories li:last-child a:last-child:hover, .nav-bar.categories li:first-child a:hover, .nav-bar.categories li:first-child a:first-child:hover, .nav-bar.categories li:first-child a:last-child:hover {
  background-color: none !important;
  color: #cc9f33;
}
/* line 320, ../sass/custom.scss */
.nav-bar.categories li a.active, .nav-bar.categories li a:first-child.active, .nav-bar.categories li a:last-child.active, .nav-bar.categories li:last-child a.active, .nav-bar.categories li:last-child a:first-child.active, .nav-bar.categories li:last-child a:last-child.active, .nav-bar.categories li:first-child a.active, .nav-bar.categories li:first-child a:first-child.active, .nav-bar.categories li:first-child a:last-child.active {
  color: #b3b3b5;
}
/* line 324, ../sass/custom.scss */
.nav-bar.categories li a.activeCat, .nav-bar.categories li a:first-child.activeCat, .nav-bar.categories li a:last-child.activeCat, .nav-bar.categories li:last-child a.activeCat, .nav-bar.categories li:last-child a:first-child.activeCat, .nav-bar.categories li:last-child a:last-child.activeCat, .nav-bar.categories li:first-child a.activeCat, .nav-bar.categories li:first-child a:first-child.activeCat, .nav-bar.categories li:first-child a:last-child.activeCat {
  color: #cc9f33;
}

/* line 331, ../sass/custom.scss */
.nivoSlider {
  position: relative;
  background: url(images/loading.gif) no-repeat 50% 50%;
}

/* line 335, ../sass/custom.scss */
.nivoSlider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/* line 341, ../sass/custom.scss */
.nivoSlider a {
  border: 0;
  display: block;
}

/* line 346, ../sass/custom.scss */
.project {
  display: block;
  width: 100%;
  height: auto;
  background: #808081;
  float: left;
}

/* line 357, ../sass/custom.scss */
.projectDescription p {
  font-family: "calluna-sans",sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: normal;
}

/* line 366, ../sass/custom.scss */
.project-nav {
  margin: 0;
  margin-top: 20px;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  text-transform: uppercase;
}
/* line 374, ../sass/custom.scss */
.project-nav li a, .project-nav li a:first-child, .project-nav li a:last-child, .project-nav li:last-child a, .project-nav li:last-child a:first-child, .project-nav li:last-child a:last-child, .project-nav li:first-child a, .project-nav li:first-child a:first-child, .project-nav li:first-child a:last-child {
  font-size: 16px !important;
  letter-spacing: .07em;
}

/* line 381, ../sass/custom.scss */
.right {
  text-align: right;
}

/* line 388, ../sass/custom.scss */
.title h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 1.3em;
}

/* line 397, ../sass/custom.scss */
.titleline h1 {
  white-space: nowrap;
}

/* line 408, ../sass/custom.scss */
#container {
  position: relative;
  min-height: 100%;
  margin-bottom: -55px;
  padding-bottom: 10px;
}

/* line 415, ../sass/custom.scss */
#footer {
  position: relative;
  width: 100%;
  height: 55px;
  background: #cc9f33;
  overflow: hidden;
}
/* line 422, ../sass/custom.scss */
#footer ul.nav-bar {
  height: auto;
  margin: 0;
  margin-left: 12px;
}
/* line 428, ../sass/custom.scss */
#footer ul.nav-bar li a {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: .07em;
  color: white;
  line-height: 55px;
}
/* line 438, ../sass/custom.scss */
#footer ul.nav-bar li.dotted {
  background: url("../images/dotted-vertical.png") top left repeat-y;
  height: 55px;
  padding: 0 18px 0 20px;
}
/* line 443, ../sass/custom.scss */
#footer ul.nav-bar li.dotted.center {
  text-align: center;
}
/* line 447, ../sass/custom.scss */
#footer ul.nav-bar li.dotted.end {
  background: url("../images/dotted-vertical.png") top right repeat-y;
  padding: 0;
  width: 5px;
}
/* line 456, ../sass/custom.scss */
#footer .row {
  		/*
  
  		a {
  			margin: 0;
  			margin-top: 20px;
  			@include serif-normal;
  			text-transform: uppercase;
  			font-size: 15px;
  			letter-spacing: .07em;
  			color: $white;
  			line-height: 55px;
  		}
  		*/
}
/* line 460, ../sass/custom.scss */
#footer .row .columns.dotted {
  background: url("../images/dotted-vertical.png") top left repeat-y;
  height: 55px;
}
/* line 464, ../sass/custom.scss */
#footer .row .columns.dotted.center {
  text-align: center;
}

/* line 484, ../sass/custom.scss */
#header {
  position: relative;
  z-index: 0;
  width: 100%;
  min-height: 50px;
  height: auto;
  background: #cc9f33;
}
/* line 495, ../sass/custom.scss */
#header .row {
  height: 45px;
}

/* line 500, ../sass/custom.scss */
#image-nav {
  position: absolute;
  right: -10px;
  bottom: -35px;
  width: auto;
  height: 20px;
  text-align: right;
  line-height: 20px;
}
/* line 509, ../sass/custom.scss */
#image-nav a {
  display: inline-block;
  padding: 0 25px;
  font-size: 30px;
  color: #808081;
  font-family: "calluna-sans",sans-serif;
  font-weight: 300;
}
/* line 517, ../sass/custom.scss */
#image-nav span {
  position: relative;
  display: inline-block;
  top: -5px;
}

@media only screen and (max-width: 767px) {
  /* line 532, ../sass/custom.scss */
  ul.nav-bar {
    margin: 0;
  }
  /* line 535, ../sass/custom.scss */
  ul.nav-bar li {
    min-height: 44px;
    border-bottom: 1px solid #ffdd8c !important;
  }
  /* line 539, ../sass/custom.scss */
  ul.nav-bar li a {
    line-height: 44px;
  }

  /* line 546, ../sass/custom.scss */
  ul.nav-bar.categories li {
    border-bottom: 1px solid white !important;
    background-color: #ffecbf;
  }

  /* line 552, ../sass/custom.scss */
  .image_holder {
    height: auto;
    width: 100%;
  }

  /* line 557, ../sass/custom.scss */
  .right {
    text-align: left;
  }

  /* line 563, ../sass/custom.scss */
  .titleline .nine.columns h1 {
    margin-top: 0;
  }

  /* line 569, ../sass/custom.scss */
  #footer {
    height: auto;
  }
  /* line 576, ../sass/custom.scss */
  #footer ul.nav-bar li.dotted.center {
    text-align: left !important;
    padding-left: 0;
    background-image: none;
  }
  /* line 581, ../sass/custom.scss */
  #footer ul.nav-bar li.dotted.center.end {
    display: none;
  }

  /* line 590, ../sass/custom.scss */
  #header .row {
    height: auto;
  }
}
