/* line 15, ../sass/nivo-slider-custom.scss */
#htmlcaption {
  display: none;
}

/* line 19, ../sass/nivo-slider-custom.scss */
.nivo-caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: auto;
  overflow: visible;
  background: none !important;
  color: #686869;
  font-family: "calluna-sans",sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
/* line 34, ../sass/nivo-slider-custom.scss */
.nivo-caption p {
  font-size: 13px;
  padding: 0;
  margin: 0;
}
/* line 39, ../sass/nivo-slider-custom.scss */
.nivo-caption p a {
  color: #cc9f33;
}

/* line 46, ../sass/nivo-slider-custom.scss */
.nivo-controlNav {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  padding: 5px 0;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}
/* line 55, ../sass/nivo-slider-custom.scss */
.nivo-controlNav a {
  display: inline-block;
  padding: 0 15px;
  font-size: 16px;
  color: #686869;
  font-family: "calluna-sans",sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 19.5px;
  font-weight: 400;
}

/* line 74, ../sass/nivo-slider-custom.scss */
.slider-wrapper {
  margin-top: 60px;
  padding-bottom: 40px;
}

/* line 79, ../sass/nivo-slider-custom.scss */
#slider {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  /* line 92, ../sass/nivo-slider-custom.scss */
  .nivo-caption {
    position: relative;
    width: 100%;
    top: 0;
    text-align: center;
  }

  /* line 99, ../sass/nivo-slider-custom.scss */
  .nivo-controlNav {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
  }
}
